/* Globale */
* , *::before , *::after{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
/* Containner */
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width : 768px){
    .container{
        max-width: 760px;
    }
}
@media  screen and (min-width :970px){
    .container{
        max-width: 962px;
    }
}
@media  screen and (min-width :1200px){
    .container{
        max-width: 1192px;
    }
}
/* Header */
#header{
    background-color: rgb(131, 131, 131);
    position: relative;
}
.c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -15px;
}
.logoLink{
    color: white;
    font-size: 1.5rem;
}




/* Menu toogle (Hamburger Menu)
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 with some modification in class name and the script
*/
.menu {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .menu:hover {
      opacity: 0.7; }
    .menu.is-active:hover {
      opacity: 0.7; }
    .menu.is-active .menuInner,
    .menu.is-active .menuInner::before,
    .menu.is-active .menuInner::after {
      background-color: #000; }
      .menu.is-active .menuInner::before {
        transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
      
      .menu.is-active .menuInner::after {
        transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .menuBox {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .menuInner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .menuInner, .menuInner::before, .menuInner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .menuInner::before, .menuInner::after {
      content: "";
      display: block; }
    .menuInner::before {
      top: -10px; }
    .menuInner::after {
      bottom: -10px; }